*.py[cod]
*$py.class
*.so
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyd
*.so
*.idb
*.pdb
build/
dist/
*.spec
.ipynb_checkpoints
profile_default/
ipython_config.py
.cache/
.pytest_cache/
.python-version
.venv
venv/
ENV/
__pypackages__/
celerybeat-schedule
*.sage.py
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.schema.json
.env.*.json
db.sqlite3
*.db
*.sql
*.sqlite
*.sqlite3
*.log
*.csv
*.dat
.DS_Store
*.pid
*.seed
*.pid.lock
token.txt
voice.db
.idea/
.vscode/
